.login {
    .input {
        border: none;
        border-bottom: 1px solid #1282de;
        border-radius: 0;
    }
    hr {
        height: 1%;
        background-color: #1282de;
    }
    h1 {
        font-weight: bold;
        color: #1282de;
    }
}