/*Imports*/
.navbar {
  background-color: #1282de;
  width: 100%;
  max-width: 100%;
}

.navbar .navbar-brand {
  font-size: 140%;
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 110%;
  font-weight: 600;
  /*On Hover Color*/
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.page-footer {
  background-color: #1282de;
  color: #ffffff;
  padding: 1%;
}

.page-footer .social-items {
  /*Social Media Icons*/
}

.page-footer .social-items .social-link {
  margin-left: 1%;
}

.page-footer .social-items img {
  width: 3%;
}

.carousel {
  top: 0;
}

.carousel .carousel-inner {
  /*Carousel/Slider Text Caption*/
}

.carousel .carousel-inner .carousel-caption {
  top: 55%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  color: floralwhite;
  line-height: normal;
}

.carousel .carousel-inner .carousel-caption .carousel-caption-lg {
  font-size: 400%;
  font-weight: bold;
}

.carousel .carousel-inner .carousel-caption .txt-rotate,
.carousel .carousel-inner .carousel-caption .carousel-caption-sm {
  font-weight: bold;
  font-size: 200%;
}

/*Makes carousel indicators round and dark gray*/
.carousel-indicators > li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #202020;
}

/*Controls the height of the slider/carousel at "width:100%"*/
.carousel-item > .w-100 {
  height: 100vh;
}

.login .input {
  border: none;
  border-bottom: 1px solid #1282de;
  border-radius: 0;
}

.login hr {
  height: 1%;
  background-color: #1282de;
}

.login h1 {
  font-weight: bold;
  color: #1282de;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 2%;
}

.image-bg {
  padding: 20%;
  background-color: #1282de;
}

.name {
  font-size: 125%;
  font-weight: bold;
}

.title {
  color: grey;
  font-size: 100%;
}

.profile-details {
  font-size: 100%;
}

.profile-details a {
  text-decoration: none;
}

button {
  bottom: 0;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1282de;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.register {
  padding-top: 5%;
  padding-bottom: 5%;
}

.register .input {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

.register hr {
  background-color: #1282de;
}

.register h1 {
  font-weight: bold;
  color: #1282de;
}

.register .img-upload img {
  width: 18%;
}

.register .img-upload:hover {
  cursor: pointer;
}

.register form {
  width: 50%;
}

.signup {
  padding-top: 5%;
  padding-bottom: 5%;
}

.signup .input {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

.signup hr {
  height: 1%;
  background-color: #1282de;
}

.signup h1 {
  font-weight: bold;
  color: #1282de;
}

.main-content {
  background: #ffffff;
  /*Images In Main Body Area*/
}

.main-content .content-block {
  text-align: center;
}

.main-content img {
  background: #ffffff;
  width: 28%;
}

.main-content img:hover {
  width: 40%;
  cursor: pointer;
}

.service-category-page {
  cursor: pointer;
}

.service-category-page:hover {
  color: red;
  font-weight: bold;
}

.card {
  max-width: 525px;
  line-height: normal;
  -webkit-box-shadow: 3px 8px #ebe9e9;
          box-shadow: 3px 8px #ebe9e9;
}

.card .card-title {
  font-size: 150%;
  font-weight: bold;
}

.userProfile {
  padding-top: 3%;
}

.userProfile .input {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

.userProfile h1 {
  font-weight: bold;
  color: #1282de;
}

.userProfile .heading hr {
  width: 30%;
  background-color: #1282de;
}

.userProfile .profile-details {
  font-size: 100%;
}

.userProfile .profile-details a {
  font-size: 100%;
}

.userProfile .profile-details hr {
  background-color: #1282de;
}

.userProfile .profile-details .fas {
  font-size: 150%;
}

.userProfile .profile-details .fa-phone-alt {
  font-size: 200%;
}

.userProfile .service-category {
  text-align: center;
}

.userProfile .service-category img {
  background-color: #1282de;
  width: 10%;
}

@media only screen and (max-width: 768px) {
  /*Carousel Componenst*/
  .carousel .carousel-inner {
    /*Center Caption On Small Screens*/
  }
  .carousel .carousel-inner .carousel-caption {
    top: 46%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .carousel .carousel-inner .carousel-caption .carousel-caption-lg {
    font-size: 400%;
  }
  .carousel .carousel-inner .carousel-caption .txt-rotate,
  .carousel .carousel-inner .carousel-caption .carousel-caption-sm {
    font-size: 200%;
  }
  /*Forms Components*/
  .login .form-wrapper,
  .signup .form-wrapper,
  .register .form-wrapper {
    width: 80%;
  }
  .login .form-wrapper form,
  .signup .form-wrapper form,
  .register .form-wrapper form {
    padding: 10%;
    background-color: rgba(218, 112, 214, 0.6);
  }
  /*Register*/
  .register {
    height: 100%;
  }
  .register .img-upload img {
    width: 30%;
  }
  .register .img-upload .form-wrapper {
    top: 5%;
  }
  /*User Profile*/
  .userProfile .profile-container {
    width: 80%;
  }
  .userProfile .service-category img {
    width: 35%;
  }
  /*Footer Components*/
  .page-footer .social-items img {
    width: 8%;
  }
  /*Service List*/
  .service-list {
    width: 100%;
  }
  .service-list .rating img {
    width: 20%;
  }
  .service-list .category-section img {
    width: 25%;
  }
  .ads-section img {
    width: 50%;
  }
}

/*iPads*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /*Forms Components*/
  .login .form-wrapper,
  .signup .form-wrapper,
  .register .form-wrapper {
    width: 40%;
  }
  .login .form-wrapper form,
  .signup .form-wrapper form,
  .register .form-wrapper form {
    padding: 10%;
    background-color: rgba(218, 112, 214, 0.6);
  }
  /*Footer Components*/
  .page-footer .social-items img {
    width: 5%;
  }
  /*Register*/
  .register {
    height: 100vh;
  }
  .register .form-wrapper {
    width: 80%;
  }
  /*Service List*/
  .service-list .rating img {
    width: 20%;
  }
}

body,
html {
  font-family: 'Roboto', sans-serif;
}

/*Main Body Container*/
.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-primary {
  background-color: #1282de;
}

/*Vertical Alignment*/
.vertical-center {
  margin: auto;
}

.main-content .link-unstyled {
  text-decoration: none;
  color: #000000;
}

.main-content .link-unstyled:hover {
  font-weight: 600;
  color: red;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */